.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.header-section {
  position: relative;
  z-index: 0;
  padding: 20px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #465384;
}

.header-logo {
  max-width: 450px;
  height: 15vh;
  object-fit: contain;
}
/* 
.header-section h1 {
  font-size: 56px;
  margin-bottom: 16px;
  z-index: 4;
} */

.tagline {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(1, 1, 1, 1);
  z-index: 1;
  /* padding: 5px; */
  margin-top: 5px;
}

.main-buttons {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 16px;
  z-index: 0;
  width: 80%;
  justify-content: center;
}

.action-button {
  padding: 34px 55px;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: rgba(255, 255, 255, 0.9);
}

.action-button:hover {
  transform: scale(1.05);
}

.need-help {
  background-color: #4CAF50;
  color: white;
}

.want-help {
  background-color: #2196F3;
  color: white;
}

.login-section {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.login-section p {
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.login {
  background-color: #9C27B0;
  color: white;
  margin-bottom: 75%;
}

.feature-image-container {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
  height: 80vh;
  box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 1);
}

.feature-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-image.current {
  z-index: 0;
}

.feature-image.next {
  z-index: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.feature-image.next.fade-in {
  opacity: 1;
}